whisper_daaily_20250602.txt
whisper_estore kr plan_20250604.txt
whisper_hybrisScrum_teamconnect_20250602.txt
whisper_output.txt
whisper_output122.txt
whisper_rfpreview_20250605.txt
whisper_samsungcare_20250604.txt
whisper_standing_20250609.txt
whisper_standup_20250604.txt
whisper_standup_20250605.txt
whisper_standup_20250610.txt
whisper_weekly_with_samsung_20250605.txt
